body {
    font-family: 'Montserrat';
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.input-container {
    display: flex;
    justify-content: center;
    width: 100%;
}
.columns {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.column {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Aligns content at the top */
}


input[type="text"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    resize: vertical;  /* allows vertical resizing */
    width: 75%;  /* adjust as needed */
}

button {
    background-color: #4CAF50;
    font-size: 1.4em;
    color: white;
    padding: 10px 24px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 20%;
}

button:hover {
    background-color: #45a049;
}

#result {
    overflow: auto;
    padding: 0;
    border: none;
    background-color: transparent;
    background-color:aliceblue;
    border-radius: 10px;
    padding: 10px;
}


h2 {
    color: #4CAF50;  /* change the color */
}


.highlight {
    background-color: yellow;
}

.key {
    width: 10ch;
    text-align: center;
    display: inline-block;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.key:hover {
    background-color: #45a049;
}

#keys {
    display: flex;
    justify-content: space-between;
}

.classes-extraites {
    display: flex;
    align-items: center;
    height: 60px;
    padding-left:40px;
}

.titre-classes {
    font-size: 1.4em;
    color:#45a049;
    font-family: 'Montserrat';
}

textarea {
    resize: none;
    font-family: 'Montserrat';
    font-size: 1em;
    padding: 10px;
    border-radius: 10px;
    outline: none;
}

.header {
    width:100%;
    display: flex;
    align-items: center;
    height: 100px;
    padding-left: 40px;
    padding-right: 40px;
    border-bottom: 1px solid #000;
}

.title {
    font-size: 3em;
    color: #4CAF50;
    font-family: 'Montserrat';
    padding-left: 10px;
    display: flex;
    align-items: center; /* Add this line */
}

.subtitle {
    font-size: 1em;
    font-family: 'Montserrat';
    padding-left: 40px;
    padding-top: 9px;
    text-align: bottom;
    display: flex;
    align-items: center; /* Add this line */
}


.logo {
    scale: 0.2;
    width: 10%;
    align-items: left;
}