<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../static/style.css">
        <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
        <script src="../static/compute.js"></script>
        <link rel="icon" href="../static/logo.png" type="image/png">
        <title>Patent Keeper</title>
    </head>

    <body>
        <div class="container">
            <div class="header">
                <div class="logo">
                    <img src="../static/patentkeeper.png" alt="logo">
                </div>
                <div class="title">
                    <a>Patent Keeper</a>
                </div>
                <div class="subtitle">
                    <h1>A classifier for patent claims</h1>
                </div>
            </div>
            <hr>

            <div class="classes-extraites">
                <div class="titre-classes">Extracted classes :</div>
                <div id="keys"></div>
            </div>

            <div class="input-container">
                <button onclick="sendText()">Extract classes</button>
            </div>
    
            <div class="columns">
                <div class="column">
                    <textarea id="inputText" placeholder="Enter text here"></textarea>
                </div>
    
                <div class="column">
                    <a id="result"></a>
                </div>
            </div>
        </div>


        <script>
            async function sendText() {
                const inputText = document.getElementById('inputText').value;
                const response = await fetch('/process', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({text: inputText})
                });
                const data = await response.json();
                const resultElement = document.getElementById('result');
                resultElement.innerText = data.result;
            
                const keysElement = document.getElementById('keys');
                keysElement.innerHTML = '';
                for (const key in data.keys) {
                    const keyElement = document.createElement('span');
                    keyElement.innerText = key;
                    keyElement.classList.add('key');
                    keyElement.addEventListener('click', () => highlightWords(data.keys[key]));
                    keysElement.appendChild(keyElement);
                    keysElement.appendChild(document.createElement('br'));  // Add a line break after each key
                }
            }
            
            function highlightWords(words) {
                const resultElement = document.getElementById('result');
                let resultText = resultElement.innerText;
                for (const word of words) {
                    const regex = new RegExp(`\\b${word}\\b`, 'g');
                    resultText = resultText.replace(regex, '<span class="highlight">' + word + '</span>');
                }
                resultElement.innerHTML = resultText;
            }

            // automatically resize height of inputText
            document.getElementById('inputText').addEventListener('input', function () {
                this.style.height = 'auto';
                this.style.height = (this.scrollHeight) + 'px';
            }, false);


        </script>

    </body>
</html>
